<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="menu-container">
        <nav>
            <a href="/">
            <img src="/images/logo.webp" alt="logo" ></a>
                        <ul>
                            <li> <a href="/">Home</a></li>
                            <li><a href="/mealPackageListing">Meal Packages</a></li> 
                            {{#if session.user}}
                            
                            {{#if session.user.dataClerk}}
                                    <li> <a href="/dataclerkdashboard">Data entry</a></li>
                                    <li><a href="/logout">Log Out</a></li>
                            {{else}}
                                  <li><a href="/shoppingcart">Shopping Cart</a></li> 
                                <li><a href="/logout">Log Out</a></li>
                            {{/if}} 
                            {{else}}
                            
                            <li> <a href="/registration">Registration</a></li> 
                            <li> <a href="/login">Log in</a></li> 
                            {{/if}}
                        </ul>
        </nav>
    </div>
    <header>
        
    </header>
    <div class="pagecontainer">
    <main>
        {{{body}}}
    </main>
    <nav class="footer">
        <footer>
            <p>© 2020 LiveFit North America Inc.</p>
            <ul>
                <li><a href='https://www.instagram.com/livefitfoods/' target="_blank"><img src="/images/insta.webp" class="insta"></a></li>
                <li><a href='https://www.facebook.com/livefitfood' target="_blank"><img src="/images/face.webp" class="face"></a></li>
            </ul>
        </footer>
    </nav>
    </div>
</body>

</html>

<script>
Handlebars.registerHelper('if_eq', function(a, b, opts) {
    if (a == b) {
        return opts.fn(this);
    } else {
        return opts.inverse(this);
    }
});
</script>