<div class="hero-section5">
    <nav>
        <h1>Welcome to LiveFit! <br> Your meal plans are ready for you!</h1>
        <br>
        <br>
    </nav>
</div>
<div class="dashboard">
    <a href="/"><button type="button"> Go to main page</button></a>
</div>