<div class="hero-section5">
    <nav>
        <h1>Welcome to LiveFit! <br> Your meal plans are ready for you!</h1>
        <br>
        <br>
    </nav>
</div>
<div class="dashboard">
    {{#if session.user}}
    {{#if session.user.dataClerk}}
       <a href="/dataentry"><button type="button"> Add data</button></a>
     <a href="/editdata"><button type="button"> Edit data</button></a>
    {{/if}}
    {{/if}}
    <a>{{message}}</a><br>
    <a href="/"><button type="button"> Go to main page</button></a>
     {{#if session.user}}
     <a href="/logout"><button type="button"> Log Out</button></a>
     {{else}}
        
    {{/if}}
</div>