div.menu-container{
    width: 100%;
    padding-left: 5%;
    top:0;
    font-family: "Aria";
    font-weight: bold;
    background-color: white;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}
.menu-container > nav{
    display: grid;
    grid-template-columns: 7% 93%;
}
.menu-container > nav > a> img{
    width: 3rem;
    height: 3rem;
}
.menu-container > nav > ul {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.menu-container > nav > ul >li > a{
    display: inline-block;
    text-decoration: none;
    color: rgb(15, 15, 15);
}
.menu-container > nav > ul >li > a:hover{
    color: rgb(230, 0, 76);
}
.menu-container > nav > ul >li{
    display: inline-block;
    text-decoration: none;
    color: rgb(15, 15, 15);
}

.hero-section {
    z-index: 0;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    background-image: linear-gradient(rgba(78, 78, 78, 0.629), rgba(77, 77, 77, 0.619)), url("/images/hero.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    color: white;
}
.hero-section > nav h1{
    font-size: 5em;
    padding-top: 5%;
}
.hero-section > nav button{
    display: block;
    width: 200px;
    color: white;
    padding: 1em;
    text-decoration: none;
    font-size: 16px;
    background-color: rgb(202, 6, 82);
    margin-bottom: 10px;
    border: none;
   outline: 0;
   display: inline-block;
   text-align: center;
   cursor: pointer;
}
.content{
    
    
    color: rgb(49, 0, 49);
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.content > h1{
    text-align: center;
    font-size: 3rem;
}
.content > ul{
   
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.content > ul> li> img{
    width: 10em;
    height: 10em;
}
.content > ul> li > a{
    font-family: "Aria";
    font-weight: bold;
    font-size: 2rem;
}
.content > ul > li{
    list-style-type: none;
}
.TopMealcontainer > div{
    color: rgb(49, 0, 49);
    text-align: center;
}
.TopMealcontainer > div h1{
    text-align: center;
    font-size: 3rem;
}
.TopMealcontainer > div p{
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 2%;
}
.topmeals > ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}
.topmeals > ul{
    padding:0 5% 0 5%;
    list-style-type: none;
}
.topmeals > ul > li{
    font-family: "Aria";
    text-transform: uppercase;
    font-weight: bold;
}
.topmeals > ul > li > img{
    width: 12rem; 
    height: 10.5rem;
}

.pagecontainer > .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(26, 26, 26);
}
.pagecontainer> .footer > footer{
    display: grid;
    color: white;
    grid-template-columns: 80% 20%;
}
.pagecontainer> .footer > footer > ul {
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    text-align: right;
    padding-right: 5rem;
}
.pagecontainer> .footer > footer > ul > li {
    text-decoration: none;
    color: white;
}
.insta{
    height: 2.35rem;
    width: 2.35rem;
}
.face{
    height: 2rem;
    width: 2rem;
}
.pagecontainer{
    position: relative;
    min-height: 98vh;
}
.pagecontainer > main{
    padding-bottom: 10rem;
}
.mealcontainer > ul > li > img{
    width: 13rem; 
    height: 13rem;
}
.footer{
    padding-bottom: 1.5rem;
}
.mealcontainer > ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    padding-top: 2.5rem;

    font-style: "Arial";
}
.mealcontainer > ul > li{
    padding-bottom: 1rem;
    line-height: 2rem;
}
.mealDesc{
    padding-top: 2.5rem;
    font-size: 2.5vw;
    text-align: center;
    font-weight: lighter;
}
.title{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgba(48, 0, 82, 0.904);
}
.price{
    font-weight: lighter;
}
.foodcategory{
    font-weight: lighter;
    font-size: 1rem;
    font-style: italic;
    color: rgb(49, 49, 49);
}
.synopsis{
    font-weight: lighter;
    text-align: left;
}
.toppackage{
    border: none;
    text-align: center;
    outline: 0;
    color: white;
    padding: 0.5rem;

}
.hero-section2 {
    z-index: 0;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150%;

    background-image: linear-gradient(rgba(134, 1, 34, 0.651), rgba(221, 0, 103, 0.486)), url("/images/hero2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    color: white;
}
.hero-section2 > nav h1{
    font-size: 5em;
    padding-top: 5%;
}
.logingrid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.login-modal{
    z-index: 0;
    display: block;
    position: relative;
    text-align: center;
    padding-top: 5vh;
    margin-top: 5vh;
    padding-bottom: 2vh;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}
.login-section > .logos img{
    width: 5vh;
    height: 5vh;
}
input[type=submit] {
    width: 20%;
    background-color: #dd0369;
    color: white;
    padding: 10.8px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #be035b;
  }
  input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .hero-section3 {
    z-index: 0;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/login.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    color: white;
}
.hero-section3 > nav h1{
    font-size: 3em;
    line-height: 6rem;
    padding-top: 5%;
}
.hero-section4 {
    z-index: 0;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    background-image: linear-gradient(rgba(60, 60, 60, 0.8), rgba(100, 100, 100, 0.5)), url("/images/register.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    color: white;
}
.hero-section4 > nav h1{
    font-size: 4em;
    line-height: 6rem;
    padding-top: 5%;
}
.errors{
    color: red;
    font-weight: bolder;
    display: inline-block;
    font-size: 2vh;
    padding-bottom: 2vh;
    text-align-last: left;
}
.registration-form{
    display: block;
    margin-top: 4vh;
}

.hero-section5 {
    z-index: 0;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    background-image: linear-gradient(rgba(78, 78, 78, 0.629), rgba(77, 77, 77, 0.619)), url("/images/spoon-2426623_1920.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    color: white;
}
.hero-section5 > nav h1{
    font-size: 4em;
    line-height: 6rem;
    padding-top: 5%;
}
.dashboard{
    display: block;
    align-items: center;
    text-align: center;
}

.dashboard button{
    display: block;
    width: 200px;
    color: white;
    padding: 1em;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(202, 6, 82);
    margin-top: 10vh;
    border: none;
   outline: 0;
   display: inline-block;
   cursor: pointer;
}
body{
    viewport-fit: 100%;
    margin: 0;
}
ul{
    padding-inline-start: 10px;
}
@media only screen and (max-width: 800px){
    .hero-section > nav h1{
        font-size: 2em;
        padding-top: 5%;
    }
    .hero-section > nav button{
        display: block;
        width: 100px;
        color: white;
        padding: 1em;
        text-decoration: none;
        font-size: 10px;
        background-color: rgb(202, 6, 82);
        margin-bottom: 10px;
        border: none;
       outline: 0;
       display: inline-block;
       text-align: center;
       cursor: pointer;
    }
    .menu-container > nav > ul >li > a{
        font-size: 0.5rem;
        display: inline-block;
        text-decoration: none;
        color: rgb(15, 15, 15);
        position: absolute; 
        padding-bottom: 15em;
    }
    .menu-container > nav > ul >li {
        font-size: 0.5rem;
        display: inline-block;
        text-decoration: none;
        color: rgb(15, 15, 15);
    }
    .menu-container > nav > ul {

        font-size: 0.5rem;
        padding-top: 0.5em;
        margin: 0;
        padding-left: 1em;
    }
    .menu-container > nav > a> img{
        width: 1.5rem;
        height: 1.5rem;
    }
    div.menu-container{
        width: 100%;
        padding-left: 5%;
        top:0;
        font-family: "Aria";
        font-weight: bold;
        background-color: white;
        position: fixed;
        overflow: hidden;
        z-index: 1;
        margin-block-end: 0.5em;
        height: 30px;
        margin: 0;
    }
    .content{
        color: rgb(49, 0, 49);
        padding: 3%;
        padding-left: 5%;
        padding-right: 10%;
    }
    .content > h1{
        text-align: center;
        font-size: 1rem;
    }
    .content > ul{
       
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .content > ul> li> img{
        width: 3em;
        height: 3em;
    }
    .content > ul> li > a{
        font-family: "Aria";
        font-weight: bold;
        font-size: 0.5rem;
    }
    .content > ul > li{
        list-style-type: none;
    }
    .TopMealcontainer > div{
        color: rgb(49, 0, 49);
        text-align: center;
    }
    .TopMealcontainer > div h1{
        text-align: center;
        font-size: 1rem;
    }
    .TopMealcontainer > div p{
        text-align: center;
        font-size: 0.5rem;
        padding-bottom: 2%;
    }
    .topmeals > ul{
        display: grid;
        grid-template-columns: auto auto auto auto;
        text-align: center;
    }
    .topmeals > ul{
        padding:0 5% 0 5%;
        list-style-type: none;
    }
    .topmeals > ul > li{
        font-family: "Aria";
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.5rem;
    }
    .topmeals > ul > li > img{
        width: 3rem; 
        height: 3rem;
    }
    .pagecontainer > .footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        background-color: rgb(26, 26, 26);
    }
    .pagecontainer> .footer > footer{
        display: grid;
        color: white;
        grid-template-columns: 70% 30%;
    }
    .pagecontainer> .footer > footer p{
        font-size: 0.5rem;
    }
    .pagecontainer> .footer > footer > ul {
        display: grid;
        grid-template-columns: auto auto;
        list-style-type: none;
        text-align: right;
        padding-right: 0;
        margin: 0;
    }
    .pagecontainer> .footer > footer > ul > li {
        text-decoration: none;
        color: white;
        font-size: 0.5rem;
    }
    .pagecontainer> .footer > footer > ul > li > a> img{
        height: 1.5rem;
        width: 1.5rem;
    }
    .mealcontainer > ul{
        display: grid;
        grid-template-columns: auto auto auto auto;
        list-style-type: none;
        text-align: center;
        font-weight: bold;
        padding-top: 2.5rem;
        padding-inline-start: 0px;
        font-style: "Arial";
    }
  
    .mealcontainer > ul > li{
        padding-bottom: 1rem;
        line-height: 2rem;
    }
    .mealcontainer > ul > li > img{
        width: 5rem; 
        height: 5rem;
    }
    .mealDesc{
        padding-top: 2.5rem;
        font-size: 2.5vw;
        text-align: center;
        font-weight: lighter;
    }
    .title{
        font-size: 0.5rem;
        text-transform: uppercase;
        color: rgba(48, 0, 82, 0.904);
    }
    .price{
        font-weight: lighter;
        font-size: 0.7rem;
    }
    .foodcategory{
        font-weight: lighter;
        font-size: 0.3rem;
        font-style: italic;
        color: rgb(49, 49, 49);
    }
    .synopsis{
        font-weight: lighter;
        text-align: left;
        font-size: 0.3rem;
    }
    .toppackage{
        border: none;
        text-align: center;
        outline: 0;
        font-size: 0.5rem;
        color: white;
        padding: 0.5rem;
    }
    .hero-section2 {
        z-index: 0;
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 150%;
    
        background-image: linear-gradient(rgba(134, 1, 34, 0.651), rgba(221, 0, 103, 0.486)), url("/images/hero2.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    
        color: white;
    }
    .hero-section2 > nav h1{
        font-size: 2em;
        padding-top: 5%;
    }
    .hero-section3 {
        z-index: 0;
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/login.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    
        color: white;
    }
    .hero-section3 > nav h1{
        font-size: 2em;
        line-height: 3rem;
        padding-top: 5%;
    }
    .hero-section4 {
        z-index: 0;
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    
        background-image: linear-gradient(rgba(60, 60, 60, 0.8), rgba(100, 100, 100, 0.5)), url("/images/register.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    
        color: white;
    }
    .hero-section4 > nav h1{
        font-size: 2em;
        line-height: 3rem;
        padding-top: 5%;
    }
    input[type=submit] {
        width: 20%;
        background-color: #dd0369;
        color: white;
        padding: 10.8px 16px;
        margin: 8px 0;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        text-align: center;
        align-content: center;
        font-size: 0.4rem;
      }
      input[type=submit]:hover {
        background-color: #be035b;
      }
      input[type=text]{
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 0.5px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
      }
      input[type=password]{
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 0.5px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
      }
}